<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DetalleHistorialCreateDlg" widgetVar="DetalleHistorialCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateDetalleHistorialTitle}" closeOnEscape="true">

            <h:form id="DetalleHistorialCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateDetalleHistorialLabel_idDetalle}" for="idDetalle" />
                        <p:inputText id="idDetalle" value="#{detalleHistorialController.selected.idDetalle}" title="#{myBundle.CreateDetalleHistorialTitle_idDetalle}" required="true" requiredMessage="#{myBundle.CreateDetalleHistorialRequiredMessage_idDetalle}"/>

                        <p:outputLabel value="#{myBundle.CreateDetalleHistorialLabel_comentario}" for="comentario" />
                        <p:inputText id="comentario" value="#{detalleHistorialController.selected.comentario}" title="#{myBundle.CreateDetalleHistorialTitle_comentario}"/>

                        <p:outputLabel value="#{myBundle.CreateDetalleHistorialLabel_fechaConsulta}" for="fechaConsulta" />
                        <p:calendar id="fechaConsulta" pattern="MM/dd/yyyy HH:mm:ss" value="#{detalleHistorialController.selected.fechaConsulta}" title="#{myBundle.CreateDetalleHistorialTitle_fechaConsulta}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateDetalleHistorialLabel_idHistorial}" for="idHistorial" />
                        <p:selectOneMenu id="idHistorial" value="#{detalleHistorialController.selected.idHistorial}"  converter="historialConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{historialController.items}"
                                           var="idHistorialItem"
                                           itemValue="#{idHistorialItem}"
                                           itemLabel="#{idHistorialItem.idHistorial.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateDetalleHistorialLabel_idUsuario}" for="idUsuario" />
                        <p:selectOneMenu id="idUsuario" value="#{detalleHistorialController.selected.idUsuario}"  converter="usuariosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.items}"
                                           var="idUsuarioItem"
                                           itemValue="#{idUsuarioItem}"
                                           itemLabel="#{idUsuarioItem.idUsuario.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{detalleHistorialController.saveNew}" value="#{myBundle.Save}" update="display,:DetalleHistorialListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,DetalleHistorialCreateDialog);">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="DetalleHistorialCreateDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
