<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DetalleHistorialEditDlg" widgetVar="DetalleHistorialEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditDetalleHistorialTitle}" closeOnEscape="true">

            <h:form id="DetalleHistorialEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{detalleHistorialController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditDetalleHistorialLabel_idDetalle}" for="idDetalle" />
                        <h:outputText id="idDetalle" value="#{detalleHistorialController.selected.idDetalle}" />

                        <p:outputLabel value="#{myBundle.EditDetalleHistorialLabel_comentario}" for="comentario" />
                        <p:inputText id="comentario" value="#{detalleHistorialController.selected.comentario}" title="#{myBundle.EditDetalleHistorialTitle_comentario}"/>

                        <p:outputLabel value="#{myBundle.EditDetalleHistorialLabel_fechaConsulta}" for="fechaConsulta" />
                        <p:calendar id="fechaConsulta" pattern="MM/dd/yyyy HH:mm:ss" value="#{detalleHistorialController.selected.fechaConsulta}" title="#{myBundle.EditDetalleHistorialTitle_fechaConsulta}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditDetalleHistorialLabel_idHistorial}" for="idHistorial" />
                        <p:selectOneMenu id="idHistorial" value="#{detalleHistorialController.selected.idHistorial}"  converter="historialConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{historialController.items}"
                                           var="idHistorialItem"
                                           itemValue="#{idHistorialItem}"
                                           itemLabel="#{idHistorialItem.idHistorial.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditDetalleHistorialLabel_idUsuario}" for="idUsuario" />
                        <p:selectOneMenu id="idUsuario" value="#{detalleHistorialController.selected.idUsuario}"  converter="usuariosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.items}"
                                           var="idUsuarioItem"
                                           itemValue="#{idUsuarioItem}"
                                           itemLabel="#{idUsuarioItem.idUsuario.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{detalleHistorialController.save}" value="#{myBundle.Save}" update="display,:DetalleHistorialListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,DetalleHistorialEditDialog);">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="DetalleHistorialEditDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
