<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="DetalleHistorialListForm">

        <p:panel header="#{myBundle.ListDetalleHistorialTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('DetalleHistorialListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('DetalleHistorialListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('DetalleHistorialListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('DetalleHistorialListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{detalleHistorialController.items}"
                         var="item"
                         rowKey="#{item.idDetalle}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{detalleHistorialController.selected}">

                <p:ajax event="rowSelect"   update=":DetalleHistorialListForm:createButton :DetalleHistorialListForm:viewButton :DetalleHistorialListForm:editButton :DetalleHistorialListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":DetalleHistorialListForm:createButton :DetalleHistorialListForm:viewButton :DetalleHistorialListForm:editButton :DetalleHistorialListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('DetalleHistorialListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idDetalle}" filterBy="#{item.idDetalle}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDetalleHistorialTitle_idDetalle}"/>
                    </f:facet>
                    <h:outputText value="#{item.idDetalle}"/>
                </p:column>


                <p:column sortBy="#{item.comentario}" filterBy="#{item.comentario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDetalleHistorialTitle_comentario}"/>
                    </f:facet>
                    <h:outputText value="#{item.comentario}"/>
                </p:column>


                <p:column sortBy="#{item.fechaConsulta}" filterBy="#{item.fechaConsulta}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDetalleHistorialTitle_fechaConsulta}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaConsulta}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.idHistorial.idHistorial}" filterBy="#{item.idHistorial.idHistorial}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDetalleHistorialTitle_idHistorial}"/>
                    </f:facet>
                    <h:outputText value="#{item.idHistorial.idHistorial}"/>
                </p:column>


                <p:column sortBy="#{item.idUsuario.idUsuario}" filterBy="#{item.idUsuario.idUsuario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDetalleHistorialTitle_idUsuario}"/>
                    </f:facet>
                    <h:outputText value="#{item.idUsuario.idUsuario}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{detalleHistorialController.prepareCreate}" update=":DetalleHistorialCreateForm" oncomplete="DetalleHistorialCreateDialog.show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":DetalleHistorialViewForm" oncomplete="DetalleHistorialViewDialog.show()" disabled="#{empty detalleHistorialController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":DetalleHistorialEditForm" oncomplete="DetalleHistorialEditDialog.show()" disabled="#{empty detalleHistorialController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{detalleHistorialController.delete}" update=":growl,datalist" disabled="#{empty detalleHistorialController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>