<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DetalleHistorialViewDlg" widgetVar="DetalleHistorialViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewDetalleHistorialTitle}" closeOnEscape="true">

            <h:form id="DetalleHistorialViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{detalleHistorialController.selected != null}">

                        <h:outputText value="#{myBundle.ViewDetalleHistorialLabel_idDetalle}"/>
                        <h:outputText value="#{detalleHistorialController.selected.idDetalle}" title="#{myBundle.ViewDetalleHistorialTitle_idDetalle}"/>

                        <h:outputText value="#{myBundle.ViewDetalleHistorialLabel_comentario}"/>
                        <h:outputText value="#{detalleHistorialController.selected.comentario}" title="#{myBundle.ViewDetalleHistorialTitle_comentario}"/>

                        <h:outputText value="#{myBundle.ViewDetalleHistorialLabel_fechaConsulta}"/>
                        <h:outputText value="#{detalleHistorialController.selected.fechaConsulta}" title="#{myBundle.ViewDetalleHistorialTitle_fechaConsulta}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewDetalleHistorialLabel_idHistorial}"/>
                        <h:outputText value="#{detalleHistorialController.selected.idHistorial.idHistorial}"/>

                        <h:outputText value="#{myBundle.ViewDetalleHistorialLabel_idUsuario}"/>
                        <h:outputText value="#{detalleHistorialController.selected.idUsuario.idUsuario}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="DetalleHistorialViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
