<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="RolesListForm">

        <p:panel header="#{myBundle.ListRolesTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('RolesListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('RolesListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('RolesListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('RolesListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{rolesController.items}"
                         var="item"
                         rowKey="#{item.idRol}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{rolesController.selected}">

                <p:ajax event="rowSelect"   update=":RolesListForm:createButton :RolesListForm:viewButton :RolesListForm:editButton :RolesListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":RolesListForm:createButton :RolesListForm:viewButton :RolesListForm:editButton :RolesListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('RolesListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idRol}" filterBy="#{item.idRol}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolesTitle_idRol}"/>
                    </f:facet>
                    <h:outputText value="#{item.idRol}"/>
                </p:column>


                <p:column sortBy="#{item.nombreRol}" filterBy="#{item.nombreRol}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolesTitle_descripcionRol}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreRol}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{rolesController.prepareCreate}" update=":RolesCreateForm" oncomplete="PF('RolesCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":RolesViewForm" oncomplete="PF('RolesViewDialog').show()" disabled="#{empty rolesController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":RolesEditForm" oncomplete="PF('RolesEditDialog').show()" disabled="#{empty rolesController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{rolesController.delete}" update=":growl,datalist" disabled="#{empty rolesController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/secure/confirmation.xhtml"/>
    </h:form>

</ui:composition>