<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolesViewDlg" widgetVar="RolesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewRolesTitle}" closeOnEscape="true">

            <h:form id="RolesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{rolesController.selected != null}">

                        <h:outputText value="#{myBundle.ViewRolesLabel_idRol}"/>
                        <h:outputText value="#{rolesController.selected.idRol}" title="#{myBundle.ViewRolesTitle_idRol}"/>

                        <h:outputText value="#{myBundle.ViewRolesLabel_descripcionRol}"/>
                        <h:outputText value="#{rolesController.selected.nombreRol}" title="#{myBundle.ViewRolesTitle_descripcionRol}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="RolesViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
