<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MascotasCreateDlg" widgetVar="MascotasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateMascotasTitle}" closeOnEscape="true">
            <h:form id="MascotasCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateMascotasLabel_nombreMascota}" for="nombreMascota" />
                        <p:inputText id="nombreMascota" value="#{mascotasController.selected.nombreMascota}" title="#{myBundle.CreateMascotasTitle_nombreMascota}"/>

                        <p:outputLabel value="Ingrese Imagen:" />
                        <p:fileUpload label="Buscar" auto="true"  update=":growl" cancelLabel="Cancelar" required="true"
                                      uploadLabel="Cargar" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" mode="advanced" fileLimit="1"
                                      sizeLimit="3000000" fileUploadListener="#{mascotasController.upload}">
                        </p:fileUpload>
                        <p:outputLabel value="#{myBundle.CreateMascotasLabel_idEspecie}" for="idEspecie" />
                        <p:selectOneMenu id="idEspecie" value="#{mascotasController.especie}" filter="true"
                                         required="true" requiredMessage="#{myBundle.CreateMascotasRequiredMessage_idEspecie}" 
                                         converter="especiesConverter">
                            <p:ajax event="change" update="idRaza" />

                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{especiesController.items}"
                                           var="idEspecieItem"
                                           itemValue="#{idEspecieItem}"
                                           itemLabel="#{idEspecieItem.nombreEspecie}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="#{myBundle.CreateMascotasLabel_idRaza}" for="idRaza" />
                        <p:selectOneMenu id="idRaza" value="#{mascotasController.selected.idRaza}" filter="true"
                                         required="true" requiredMessage="#{myBundle.CreateMascotasRequiredMessage_idRaza}" 
                                         converter="razasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{mascotasController.especie.razasList}"
                                           var="idRazaItem"
                                           itemValue="#{idRazaItem}"
                                           itemLabel="#{idRazaItem.nombreRaza}"
                                           />
                        </p:selectOneMenu>
                        
                        <p:outputLabel value="#{myBundle.CreateMascotasLabel_pelaje}" for="pelaje" />
                        <p:inputText id="pelaje" value="#{mascotasController.selected.pelaje}" title="#{myBundle.CreateMascotasTitle_pelaje}"/>

                        <p:outputLabel value="#{myBundle.CreateMascotasLabel_fechaNacimiento}" for="fechaNacimiento" />
                        <p:calendar id="fechaNacimiento" pattern="dd/MM/yyyy HH:mm:ss" value="#{mascotasController.selected.fechaNacimiento}" title="#{myBundle.CreateMascotasTitle_fechaNacimiento}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateMascotasLabel_activo}" for="activo" />
                        <p:selectBooleanCheckbox id="activo" value="#{mascotasController.selected.activo}" />

                        <p:outputLabel value="#{myBundle.CreateMascotasLabel_idPropietario}" for="idPropietario" />
                        <p:selectOneMenu id="idPropietario" value="#{mascotasController.selected.idPropietario}" required="true" requiredMessage="#{myBundle.CreateMascotasRequiredMessage_idPropietario}" converter="propietariosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{propietariosController.items}"
                                           var="idPropietarioItem"
                                           itemValue="#{idPropietarioItem}"
                                           itemLabel="#{idPropietarioItem.nombrePropietario}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateMascotasLabel_idVeterinaria}" for="idVeterinaria" rendered="#{loginBean.tieneRol(1)}"/>
                        <p:selectOneMenu id="idVeterinaria" value="#{mascotasController.selected.idVeterinaria}" required="true" rendered="#{loginBean.tieneRol(1)}"
                                         requiredMessage="#{myBundle.CreateMascotasRequiredMessage_idVeterinaria}" converter="veterinariasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{veterinariasController.items}"
                                           var="idVeterinariaItem"
                                           itemValue="#{idVeterinariaItem}"
                                           itemLabel="#{idVeterinariaItem.razonSocial}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{mascotasController.saveNew}" value="#{myBundle.Save}" update="display,:MascotasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('MascotasCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="MascotasCreateDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
