<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="MascotasListForm">

        <p:panel header="#{myBundle.ListMascotasTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('MascotasListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('MascotasListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('MascotasListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('MascotasListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{mascotasController.items}"
                         var="item"
                         rowKey="#{item.idMascota}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{mascotasController.selected}">

                <p:ajax event="rowSelect"   update=":MascotasListForm:createButton :MascotasListForm:viewButton :MascotasListForm:editButton :MascotasListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":MascotasListForm:createButton :MascotasListForm:viewButton :MascotasListForm:editButton :MascotasListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('MascotasListForm:viewButton').click();"/>

                <p:column sortBy="#{item.nombreMascota}" filterBy="#{item.nombreMascota}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMascotasTitle_nombreMascota}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreMascota}"/>
                </p:column>

                <p:column sortBy="#{item.idRaza.idEspecie.idEspecie}" filterBy="#{item.idRaza.idEspecie.idEspecie}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMascotasTitle_idEspecie}"/>
                    </f:facet>
                    <h:outputText value="#{item.idRaza.idEspecie.nombreEspecie}"/>
                </p:column>

                <p:column sortBy="#{item.idRaza.idRazas}" filterBy="#{item.idRaza.idRazas}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMascotasTitle_idRaza}"/>
                    </f:facet>
                    <h:outputText value="#{item.idRaza.nombreRaza}"/>
                </p:column>
                                <p:column sortBy="#{item.pelaje}" filterBy="#{item.pelaje}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMascotasTitle_pelaje}"/>
                    </f:facet>
                    <h:outputText value="#{item.pelaje}"/>
                </p:column>
                
                
                <p:column sortBy="#{item.idPropietario.idPropietario}" filterBy="#{item.idPropietario.idPropietario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMascotasTitle_idPropietario}"/>
                    </f:facet>
                    <h:outputText value="#{item.idPropietario.nombrePropietario}"/>
                </p:column>





                <p:column sortBy="#{item.fechaNacimiento}" filterBy="#{item.fechaNacimiento}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMascotasTitle_fechaNacimiento}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaNacimiento}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>

                <p:column sortBy="#{item.fechaAlta}" filterBy="#{item.fechaAlta}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMascotasTitle_fechaAlta}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaAlta}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.activo}" filterBy="#{item.activo}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMascotasTitle_activo}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="activo" value="#{item.activo}" title="#{myBundle.EditMascotasTitle_activo}"  disabled="true"/>
                </p:column>

                <p:column sortBy="#{item.idVeterinaria.idVeterinaria}" filterBy="#{item.idVeterinaria.idVeterinaria}" rendered="#{loginBean.tieneRol(1)}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMascotasTitle_idVeterinaria}"/>
                    </f:facet>
                    <h:outputText value="#{item.idVeterinaria.razonSocial}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{mascotasController.prepareCreate}" update=":MascotasCreateForm" oncomplete="PF('MascotasCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":MascotasViewForm" oncomplete="PF('MascotasViewDialog').show()" disabled="#{empty mascotasController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":MascotasEditForm" oncomplete="PF('MascotasEditDialog').show()" disabled="#{empty mascotasController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{mascotasController.delete}" update=":growl,datalist" disabled="#{empty mascotasController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/secure/confirmation.xhtml"/>
    </h:form>

</ui:composition>