<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MascotasViewDlg" widgetVar="MascotasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewMascotasTitle}" closeOnEscape="true">

            <h:form id="MascotasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{mascotasController.selected != null}">

                        <f:facet name="header">
                            <p:graphicImage id="myImage" cache="false" width="400" height="300"
                                            value="#{mascotasController.archivoStream}">
                                <f:param name="idMascota" value="#{mascotasController.selected.idMascota}"/>
                            </p:graphicImage>                         
                        </f:facet>

                        <h:outputText value="#{myBundle.ViewMascotasLabel_nombreMascota}"/>
                        <h:outputText value="#{mascotasController.selected.nombreMascota}" title="#{myBundle.ViewMascotasTitle_nombreMascota}"/>
                        
                        <h:outputText value="#{myBundle.ViewMascotasLabel_idRaza}"/>
                        <h:outputText value="#{mascotasController.selected.idRaza.idEspecie.nombreEspecie} - #{mascotasController.selected.idRaza.nombreRaza}"/>
                        
                        <h:outputText value="#{myBundle.ViewMascotasLabel_pelaje}"/>
                        <h:outputText value="#{mascotasController.selected.pelaje}" title="#{myBundle.ViewMascotasTitle_pelaje}"/>
                        
                        <h:outputText value="#{myBundle.ViewMascotasLabel_fechaAlta}"/>
                        <h:outputText value="#{mascotasController.selected.fechaAlta}" title="#{myBundle.ViewMascotasTitle_fechaAlta}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewMascotasLabel_fechaNacimiento}"/>
                        <h:outputText value="#{mascotasController.selected.fechaNacimiento}" title="#{myBundle.ViewMascotasTitle_fechaNacimiento}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewMascotasLabel_activo}"/>
                        <h:selectBooleanCheckbox id="activo" value="#{mascotasController.selected.activo}" title="#{myBundle.EditMascotasTitle_activo}"  disabled="true"/>

                        <h:outputText value="#{myBundle.ViewMascotasLabel_idPropietario}"/>
                        <h:outputText value="#{mascotasController.selected.idPropietario.nombrePropietario}"/>


                        <h:outputText value="#{myBundle.ViewMascotasLabel_idVeterinaria}" rendered="#{loginBean.tieneRol(1)}"/>
                        <h:outputText value="#{mascotasController.selected.idVeterinaria.razonSocial}" rendered="#{loginBean.tieneRol(1)}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="MascotasViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
