<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RazasCreateDlg" widgetVar="RazasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateRazasTitle}" closeOnEscape="true">

            <h:form id="RazasCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateRazasLabel_nombreRaza}" for="nombreRaza" />
                        <p:inputText id="nombreRaza" value="#{razasController.selected.nombreRaza}" title="#{myBundle.CreateRazasTitle_nombreRaza}"/>

                        <p:outputLabel value="#{myBundle.CreateRazasLabel_idEspecie}" for="idEspecie" />
                        <p:selectOneMenu id="idEspecie" value="#{razasController.selected.idEspecie}" filter="true" 
                                         converter="especiesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{especiesController.items}"
                                           var="idEspecieItem"
                                           itemValue="#{idEspecieItem}"
                                           itemLabel="#{idEspecieItem.nombreEspecie}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{razasController.saveNew}" value="#{myBundle.Save}" update="display,:RazasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RazasCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="RazasCreateDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
