<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RazasEditDlg" widgetVar="RazasEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditRazasTitle}" closeOnEscape="true">

            <h:form id="RazasEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{razasController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditRazasLabel_idRazas}" for="idRazas" />
                        <h:outputText id="idRazas" value="#{razasController.selected.idRazas}" />

                        <p:outputLabel value="#{myBundle.EditRazasLabel_nombreRaza}" for="nombreRaza" />
                        <p:inputText id="nombreRaza" value="#{razasController.selected.nombreRaza}" title="#{myBundle.EditRazasTitle_nombreRaza}"/>

                        <p:outputLabel value="#{myBundle.EditRazasLabel_idEspecie}" for="idEspecie" />
                        <p:selectOneMenu id="idEspecie" value="#{razasController.selected.idEspecie}" filter="true"
                                         converter="especiesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{especiesController.items}"
                                           var="idEspecieItem"
                                           itemValue="#{idEspecieItem}"
                                           itemLabel="#{idEspecieItem.nombreEspecie}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{razasController.save}" value="#{myBundle.Save}" update="display,:RazasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RazasEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="RazasEditDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
