<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="RazasListForm">

        <p:panel header="#{myBundle.ListRazasTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('RazasListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('RazasListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('RazasListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('RazasListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{razasController.items}"
                         var="item"
                         rowKey="#{item.idRazas}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{razasController.selected}">

                <p:ajax event="rowSelect"   update=":RazasListForm:createButton :RazasListForm:viewButton :RazasListForm:editButton :RazasListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":RazasListForm:createButton :RazasListForm:viewButton :RazasListForm:editButton :RazasListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('RazasListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idRazas}" filterBy="#{item.idRazas}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRazasTitle_idRazas}"/>
                    </f:facet>
                    <h:outputText value="#{item.idRazas}"/>
                </p:column>


                <p:column sortBy="#{item.nombreRaza}" filterBy="#{item.nombreRaza}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRazasTitle_nombreRaza}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreRaza}"/>
                </p:column>


                <p:column sortBy="#{item.idEspecie.idEspecie}" filterBy="#{item.idEspecie.idEspecie}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRazasTitle_idEspecie}"/>
                    </f:facet>
                    <h:outputText value="#{item.idEspecie.nombreEspecie}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{razasController.prepareCreate}" update=":RazasCreateForm" oncomplete="PF('RazasCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":RazasViewForm" oncomplete="PF('RazasViewDialog').show()" disabled="#{empty razasController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":RazasEditForm" oncomplete="PF('RazasEditDialog').show()" disabled="#{empty razasController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{razasController.delete}" update=":growl,datalist" disabled="#{empty razasController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/secure/confirmation.xhtml"/>
    </h:form>

</ui:composition>