<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RazasViewDlg" widgetVar="RazasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewRazasTitle}" closeOnEscape="true">

            <h:form id="RazasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{razasController.selected != null}">

                        <h:outputText value="#{myBundle.ViewRazasLabel_idRazas}"/>
                        <h:outputText value="#{razasController.selected.idRazas}" title="#{myBundle.ViewRazasTitle_idRazas}"/>

                        <h:outputText value="#{myBundle.ViewRazasLabel_nombreRaza}"/>
                        <h:outputText value="#{razasController.selected.nombreRaza}" title="#{myBundle.ViewRazasTitle_nombreRaza}"/>

                        <h:outputText value="#{myBundle.ViewRazasLabel_idEspecie}"/>
                        <h:outputText value="#{razasController.selected.idEspecie.nombreEspecie}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="RazasViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
