<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="VacunasEditDlg" widgetVar="VacunasEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditVacunasTitle}" closeOnEscape="true">

            <h:form id="VacunasEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{vacunasController.selected != null}">

                        <p:outputLabel value="#{myBundle.EditVacunasLabel_nombreVacuna}" for="nombreVacuna" />
                        <p:inputText id="nombreVacuna" value="#{vacunasController.selected.nombreVacuna}" title="#{myBundle.EditVacunasTitle_nombreVacuna}"/>

                        <p:outputLabel value="#{myBundle.EditVacunasLabel_especiesList}" for="especiesList" />
                        <p:selectManyMenu id="especiesList" value="#{vacunasController.selected.especiesList}" filter="true" 
                                          converter="especiesConverter">
                            <f:selectItems value="#{especiesController.items}"
                                           var="especiesListItem"
                                           itemValue="#{especiesListItem}"
                                           itemLabel="#{especiesListItem.nombreEspecie}"
                                           />
                        </p:selectManyMenu>

                        <p:outputLabel value="#{myBundle.EditVacunasLabel_veterinariasList}" for="veterinariasList" />
                        <p:selectManyMenu id="veterinariasList" value="#{vacunasController.selected.veterinariasList}"  filter="true"
                                          converter="veterinariasConverter">
                            <f:selectItems value="#{veterinariasController.items}"
                                           var="veterinariasListItem"
                                           itemValue="#{veterinariasListItem}"
                                           itemLabel="#{veterinariasListItem.razonSocial}"
                                           />

                        </p:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vacunasController.save}" value="#{myBundle.Save}" update="display,:VacunasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('VacunasEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="VacunasEditDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
