<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="VacunasListForm">

        <p:panel header="#{myBundle.ListVacunasTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('VacunasListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('VacunasListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('VacunasListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('VacunasListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{vacunasController.items}"
                         var="item"
                         rowKey="#{item.idVacuna}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{vacunasController.selected}">

                <p:ajax event="rowSelect"   update=":VacunasListForm:createButton :VacunasListForm:viewButton :VacunasListForm:editButton :VacunasListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":VacunasListForm:createButton :VacunasListForm:viewButton :VacunasListForm:editButton :VacunasListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('VacunasListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idVacuna}" filterBy="#{item.idVacuna}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVacunasTitle_idVacunas}"/>
                    </f:facet>
                    <h:outputText value="#{item.idVacuna}"/>
                </p:column>


                <p:column sortBy="#{item.nombreVacuna}" filterBy="#{item.nombreVacuna}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVacunasTitle_nombreVacuna}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreVacuna}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{vacunasController.prepareCreate}" update=":VacunasCreateForm" oncomplete="PF('VacunasCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":VacunasViewForm" oncomplete="PF('VacunasViewDialog').show()" disabled="#{empty vacunasController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":VacunasEditForm" oncomplete="PF('VacunasEditDialog').show()" disabled="#{empty vacunasController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{vacunasController.delete}" update=":growl,datalist" disabled="#{empty vacunasController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/secure/confirmation.xhtml"/>
    </h:form>

</ui:composition>