<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VacunasViewDlg" widgetVar="VacunasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewVacunasTitle}" closeOnEscape="true">

            <h:form id="VacunasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{vacunasController.selected != null}">

                        <h:outputText value="#{myBundle.ViewVacunasLabel_idVacunas}"/>
                        <h:outputText value="#{vacunasController.selected.idVacuna}" title="#{myBundle.ViewVacunasTitle_idVacunas}"/>

                        <h:outputText value="#{myBundle.ViewVacunasLabel_nombreVacuna}"/>
                        <h:outputText value="#{vacunasController.selected.nombreVacuna}" title="#{myBundle.ViewVacunasTitle_nombreVacuna}"/>

                        <h:outputText value="#{myBundle.ViewVacunasLabel_especiesList}"/>
                        <h:selectManyMenu converter="especiesConverter">
                            <f:selectItems value="#{vacunasController.selected.especiesList}"
                                           var="especiesListItem"
                                           itemValue="#{especiesListItem}"
                                           itemLabel="#{especiesListItem.nombreEspecie}"
                                           />

                        </h:selectManyMenu>                        
                        
                        <h:outputText value="#{myBundle.ViewVacunasLabel_veterinariasList}"/>
                        <h:selectManyMenu converter="veterinariasConverter">
                            <f:selectItems value="#{vacunasController.selected.veterinariasList}"
                                           var="veterinariasListItem"
                                           itemValue="#{veterinariasListItem}"
                                           itemLabel="#{veterinariasListItem.razonSocial}"
                                           />

                        </h:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="VacunasViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
