<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VacunaDetalleCreateDlg" widgetVar="VacunaDetalleCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateVacunaDetalleTitle}" closeOnEscape="true">

            <h:form id="VacunaDetalleCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateVacunaDetalleLabel_proximaDosis}" for="proximaDosis" />
                        <p:calendar id="proximaDosis" pattern="MM/dd/yyyy HH:mm:ss" value="#{vacunaDetalleController.selected.proximaDosis}" title="#{myBundle.CreateVacunaDetalleTitle_proximaDosis}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateVacunaDetalleLabel_detalleHistorial}" for="detalleHistorial" />
                        <p:selectOneMenu id="detalleHistorial" value="#{vacunaDetalleController.selected.detalleHistorial}" required="true" requiredMessage="#{myBundle.CreateVacunaDetalleRequiredMessage_detalleHistorial}" converter="detalleHistorialConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{detalleHistorialController.items}"
                                           var="detalleHistorialItem"
                                           itemValue="#{detalleHistorialItem}"
                                           itemLabel="#{detalleHistorialItem.idDetalle.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateVacunaDetalleLabel_vacunas}" for="vacunas" />
                        <p:selectOneMenu id="vacunas" value="#{vacunaDetalleController.selected.vacunas}" required="true" requiredMessage="#{myBundle.CreateVacunaDetalleRequiredMessage_vacunas}" converter="vacunasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{vacunasController.items}"
                                           var="vacunasItem"
                                           itemValue="#{vacunasItem}"
                                           itemLabel="#{vacunasItem.idVacunas.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vacunaDetalleController.saveNew}" value="#{myBundle.Save}" update="display,:VacunaDetalleListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,VacunaDetalleCreateDialog);">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="VacunaDetalleCreateDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
