<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="VacunaDetalleEditDlg" widgetVar="VacunaDetalleEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditVacunaDetalleTitle}" closeOnEscape="true">

            <h:form id="VacunaDetalleEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{vacunaDetalleController.selected != null}">

                        <p:outputLabel value="#{myBundle.EditVacunaDetalleLabel_proximaDosis}" for="proximaDosis" />
                        <p:calendar id="proximaDosis" pattern="MM/dd/yyyy HH:mm:ss" value="#{vacunaDetalleController.selected.proximaDosis}" title="#{myBundle.EditVacunaDetalleTitle_proximaDosis}"  showOn="button"/>


                        <h:outputLabel value="#{myBundle.EditVacunaDetalleLabel_detalleHistorial}" for="detalleHistorial" />
                        <h:outputText id="detalleHistorial" value="#{vacunaDetalleController.selected.detalleHistorial}" />


                        <h:outputLabel value="#{myBundle.EditVacunaDetalleLabel_vacunas}" for="vacunas" />
                        <h:outputText id="vacunas" value="#{vacunaDetalleController.selected.vacunas}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vacunaDetalleController.save}" value="#{myBundle.Save}" update="display,:VacunaDetalleListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,VacunaDetalleEditDialog);">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="VacunaDetalleEditDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
