<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="VacunaDetalleListForm">

        <p:panel header="#{myBundle.ListVacunaDetalleTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('VacunaDetalleListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('VacunaDetalleListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('VacunaDetalleListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('VacunaDetalleListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{vacunaDetalleController.items}"
                         var="item"
                         rowKey="#{item.vacunaDetallePK}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{vacunaDetalleController.selected}">

                <p:ajax event="rowSelect"   update=":VacunaDetalleListForm:createButton :VacunaDetalleListForm:viewButton :VacunaDetalleListForm:editButton :VacunaDetalleListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":VacunaDetalleListForm:createButton :VacunaDetalleListForm:viewButton :VacunaDetalleListForm:editButton :VacunaDetalleListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('VacunaDetalleListForm:viewButton').click();"/>

                <p:column sortBy="#{item.proximaDosis}" filterBy="#{item.proximaDosis}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVacunaDetalleTitle_proximaDosis}"/>
                    </f:facet>
                    <h:outputText value="#{item.proximaDosis}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.detalleHistorial.idDetalle}" filterBy="#{item.detalleHistorial.idDetalle}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVacunaDetalleTitle_detalleHistorial}"/>
                    </f:facet>
                    <h:outputText value="#{item.detalleHistorial.idDetalle}"/>
                </p:column>


                <p:column sortBy="#{item.vacunas.idVacunas}" filterBy="#{item.vacunas.idVacunas}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVacunaDetalleTitle_vacunas}"/>
                    </f:facet>
                    <h:outputText value="#{item.vacunas.idVacunas}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{vacunaDetalleController.prepareCreate}" update=":VacunaDetalleCreateForm" oncomplete="VacunaDetalleCreateDialog.show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":VacunaDetalleViewForm" oncomplete="VacunaDetalleViewDialog.show()" disabled="#{empty vacunaDetalleController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":VacunaDetalleEditForm" oncomplete="VacunaDetalleEditDialog.show()" disabled="#{empty vacunaDetalleController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{vacunaDetalleController.delete}" update=":growl,datalist" disabled="#{empty vacunaDetalleController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>