<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VacunaDetalleViewDlg" widgetVar="VacunaDetalleViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewVacunaDetalleTitle}" closeOnEscape="true">

            <h:form id="VacunaDetalleViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{vacunaDetalleController.selected != null}">

                        <h:outputText value="#{myBundle.ViewVacunaDetalleLabel_proximaDosis}"/>
                        <h:outputText value="#{vacunaDetalleController.selected.proximaDosis}" title="#{myBundle.ViewVacunaDetalleTitle_proximaDosis}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewVacunaDetalleLabel_detalleHistorial}"/>
                        <h:outputText value="#{vacunaDetalleController.selected.detalleHistorial.idDetalle}"/>

                        <h:outputText value="#{myBundle.ViewVacunaDetalleLabel_vacunas}"/>
                        <h:outputText value="#{vacunaDetalleController.selected.vacunas.idVacunas}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="VacunaDetalleViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
