<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'propietarios')}">

    <body>

        <h2>Owner</h2>
        <form action="#" th:action="@{/personas/new}" th:object="${persona}" class="form-horizontal" id="add-persona-form" method="post">
            <div class="form-group has-feedback">
                <table>
                    <tr>
                        <td>Cedula:</td>
                        <td><input type="text" th:field="*{id}" /></td>
                    </tr>
                    <tr>
                        <td>RUC:</td>
                        <td><input type="text" th:field="*{ruc}" /></td>
                    </tr>
                    <tr>
                        <td>Activo:</td>
                        <td><input type="text" th:field="*{activo}" /></td>
                    </tr>
                    <tr>
                        <td>
                            Razón Social:
                        </td>
                        <td>
                            <input type="text" th:field="*{razonSocial}" />
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" th:field="*{email}" /></td>
                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error en email</td>
                    </tr>
                    <tr>
                        <td>Telefono:</td>
                        <td><input type="text" th:field="*{telefono}" /></td>
                        <td th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error en telefono</td>
                    </tr>
                    <tr>
                        <td>Tipo Persona:</td>
                        <td>
                        <select th:field="*{tipoPersona}" th:se class="form-control">
                            <option th:each="tp: ${tipoPersonas}" 
                                    th:value="${tp.idTipoPersona}" 
                                    th:text="${tp.tipoPersona}"
                                    th:selected="${tp.idTipoPersona} == *{tipoPersona.idTipoPersona}">
                            </option>
                        </select>                       
                        </td>
                    </tr>
<!--                <p>Cedula<input type="text" th:field="*{id}" /></p>-->
                <!--<p>RUC<input type="text" th:field="*{ruc}" /></p>-->
                <!--<p>Activo<input type="text" th:field="*{activo}" /></p>-->
                <!--<p>Razon Social <input type="text" th:field="*{razonSocial}" /></p>-->
<!--                <p>Email <input type="text" th:field="*{email}" /> </p>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>-->
                <!--<p>Telefono <input type="text" th:field="*{telefono}" /> </p>-->
<!--                <p>Tipo Persona 
                <select th:field="*{tipoPersona}" th:se class="form-control">
                    <option th:each="tp: ${tipoPersonas}" 
                            th:value="${tp.idTipoPersona}" 
                            th:text="${tp.tipoPersona}"
                            th:selected="${tp.idTipoPersona} == *{tipoPersona.idTipoPersona}">
                    </option>
                </select>
                </p>-->
                <!--      <p>Tipo <input type="text" th:field="*{tipo}" /> </p>-->
                <!--      <input
                        th:replace="~{fragments/inputField :: input ('Tipo', 'tipo', 'text')}" />-->
                <!--      <input
                        th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}" />-->
                </table>
            </div>
            <!--    <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button
                      th:with="text=${persona['new']} ? 'Agregar Cliente' : 'Actualizar Cliente'"
                      class="btn btn-default" type="submit" th:text="${text}" htmlEscape="false">Add Owner</button>
                  </div>
                </div>-->
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>
