<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'propietarios')}">

  <body>
  
  
    <h2>Información de Personas</h2>
  
  
    <table class="table table-striped" th:object="${persona}">
      <tr>
        <th>Nombre</th>
        <td><b th:text="*{razonSocial}"></b></td>
      </tr>
      <tr>
        <th>Activo</th>
        <td th:text="*{activo}" /></td>
      </tr>
      <tr>
        <th>email</th>
        <td th:text="*{email}" /></td>
      </tr>
      <tr>
        <th>Telefono</th>
        <td th:text="*{telefono}" /></td>
      </tr>
      <tr>
        <th>Tipo</th>
        <td th:text="*{tipoPersona.tipoPersona}" /></td>
      </tr> 
    </table>
  
    <a th:href="@{{id}/edit(id=${persona.id})}" class="btn btn-default">Editar persona</a>
<!--    <a th:href="@{{id}/pets/new(id=${persona.id})}" class="btn btn-default">Add New Pet</a> -->
  
    <br />
    <br />
    <br />
    <h2>Pets and Visits</h2>
  
 <!--   <table class="table table-striped">
  
      <tr th:each="pet : ${owner.pets}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd th:text="${pet.name}" /></dd>
            <dt>Birth Date</dt>
            <dd
              th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}" /></dd>
            <dt>Type</dt>
            <dd th:text="${pet.type}" /></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Visit Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tr th:each="visit : ${pet.visits}">
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${visit?.description}"></td>
            </tr>
            <tr>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${owner.id},petId=${pet.id})}">Edit
                  Pet</a></td>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}">Add
                  Visit</a></td>
            </tr>
          </table>-->
        </td>
      </tr>
  
    </table>
  
  </body>

</html>
