<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>

    <h2>Owners</h2>

    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">Address</th>
            <th>City</th>
            <th style="width: 120px">Telephone</th>
            <th>Pets</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="persona : ${selections}">
              <td>
                  <a th:href="@{/personas/__${persona.id}__}" th:text="${persona.razonSocial}"/></a>
              </td>
              <td th:text="${persona.email}"/>
              <td th:text="${persona.telefono}"/>
              <td th:text="${persona.tipoPersona.tipoPersona}"/>
<!--              <td><span th:each="pet : ${owner.pets}" th:text="${pet.name} "/></td>-->
          </tr>
        </tbody>
    </table>

  </body>
</html>
