<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/secure/index" icon="ui-icon-home"/>
                <p:submenu label="Accesos" rendered="#{loginBean.tieneRol(1)}">
                    <p:menuitem value="#{myBundle.RolesHeading}..." outcome="/secure/roles/index" />
                    <p:menuitem value="#{myBundle.UsuariosHeading}..." outcome="/secure/usuarios/index" />
                    <p:menuitem value="#{myBundle.VeterinariasHeading}..." outcome="/secure/veterinarias/index" />
                </p:submenu>
                <p:submenu label="Administración" rendered="#{loginBean.tieneRol(1)}">
                    <p:menuitem value="#{myBundle.EspeciesHeading}..." outcome="/secure/especies/index" />
                    <p:menuitem value="#{myBundle.RazasHeading}..." outcome="/secure/razas/index" />
                    <p:menuitem value="#{myBundle.VacunasHeading}..." outcome="/secure/vacunas/index" />
                </p:submenu>
                <p:submenu label="#{myBundle.Maintenance}" rendered="#{loginBean.tieneRol(3)}">
                    <p:menuitem value="#{myBundle.PropietariosHeading}..." outcome="/secure/propietarios/index" />
                    <p:menuitem value="#{myBundle.MascotasHeading}..." outcome="/secure/mascotas/index" />
                    <p:menuitem value="#{myBundle.DetalleHistorialHeading}..." outcome="/secure/detalleHistorial/index" />
                    <p:menuitem value="#{myBundle.VacunaDetalleHeading}..." outcome="/secure/vacunaDetalle/index" />
                </p:submenu>
                <p:submenu label="Mi Cuenta">
                    <p:menuitem value="Cambiar Contraseña" outcome="/secure/usuarios/changePass" />
                    <p:menuitem value="Editar Mi Cuenta" outcome="/secure/usuarios/myaccount" />

                </p:submenu>
                <p:menuitem value="Logout"  ajax="false" icon="ui-icon-power" action="#{loginBean.logout()}" />
            </p:menubar>
        </h:form>
    </ui:composition>

</html>