<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="pfcrud.css"/>
        <h:outputScript library="scripts" name="pfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000"/>

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" header="#{myBundle.AppName}">
                <!-- Menu here. Also a layout and a way to log a user out -->
                <ui:include src="/secure/appmenu.xhtml"/>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>
    <script>
        function myFunction() {
            document.location.href = '/vetsoft/secure/index.xhtml?faces-redirect=true';
        }
        function start() {
            PF('statusDialog').show();
        }

        function stop() {
            PF('statusDialog').hide();
        }
    </script>
</html>
