<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PermisosCreateDlg" widgetVar="PermisosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreatePermisosTitle}" closeOnEscape="true">

            <h:form id="PermisosCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreatePermisosLabel_descripcionPermiso}" for="descripcionPermiso" />
                        <p:inputText id="descripcionPermiso" value="#{permisosController.selected.nombrePermiso}" title="#{myBundle.CreatePermisosTitle_descripcionPermiso}"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{permisosController.saveNew}" value="#{myBundle.Save}" update="display,:PermisosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PermisosCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PermisosCreateDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
