<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PermisosEditDlg" widgetVar="PermisosEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPermisosTitle}" closeOnEscape="true">

            <h:form id="PermisosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{permisosController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditPermisosLabel_idPermiso}" for="idPermiso" />
                        <h:outputText id="idPermiso" value="#{permisosController.selected.idPermiso}" />

                        <p:outputLabel value="#{myBundle.EditPermisosLabel_descripcionPermiso}" for="descripcionPermiso" />
                        <p:inputText id="descripcionPermiso" value="#{permisosController.selected.nombrePermiso}" title="#{myBundle.EditPermisosTitle_descripcionPermiso}"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{permisosController.save}" value="#{myBundle.Save}" update="display,:PermisosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PermisosEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PermisosEditDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
