<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PermisosListForm">

        <p:panel header="#{myBundle.ListPermisosTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('PermisosListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('PermisosListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('PermisosListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('PermisosListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{permisosController.items}"
                         var="item"
                         rowKey="#{item.idPermiso}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{permisosController.selected}">

                <p:ajax event="rowSelect"   update=":PermisosListForm:createButton :PermisosListForm:viewButton :PermisosListForm:editButton :PermisosListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":PermisosListForm:createButton :PermisosListForm:viewButton :PermisosListForm:editButton :PermisosListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('PermisosListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idPermiso}" filterBy="#{item.idPermiso}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPermisosTitle_idPermiso}"/>
                    </f:facet>
                    <h:outputText value="#{item.idPermiso}"/>
                </p:column>


                <p:column sortBy="#{item.nombrePermiso}" filterBy="#{item.nombrePermiso}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPermisosTitle_descripcionPermiso}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombrePermiso}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{permisosController.prepareCreate}" update=":PermisosCreateForm" oncomplete="PF('PermisosCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":PermisosViewForm" oncomplete="PF('PermisosViewDialog').show()" disabled="#{empty permisosController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":PermisosEditForm" oncomplete="PF('PermisosEditDialog').show()" disabled="#{empty permisosController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{permisosController.delete}" update=":growl,datalist" disabled="#{empty permisosController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/secure/confirmation.xhtml"/>
    </h:form>

</ui:composition>