<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PermisosViewDlg" widgetVar="PermisosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPermisosTitle}" closeOnEscape="true">

            <h:form id="PermisosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{permisosController.selected != null}">

                        <h:outputText value="#{myBundle.ViewPermisosLabel_idPermiso}"/>
                        <h:outputText value="#{permisosController.selected.idPermiso}" title="#{myBundle.ViewPermisosTitle_idPermiso}"/>

                        <h:outputText value="#{myBundle.ViewPermisosLabel_descripcionPermiso}"/>
                        <h:outputText value="#{permisosController.selected.nombrePermiso}" title="#{myBundle.ViewPermisosTitle_descripcionPermiso}"/>

                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PermisosViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
