<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosCreateDlg" widgetVar="UsuariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUsuariosTitle}" closeOnEscape="true">

            <h:form id="UsuariosCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuariosController.selected.nombre}" title="#{myBundle.CreateUsuariosTitle_nombre}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_usuario}" for="usuario" />
                        <p:inputText id="usuario" value="#{usuariosController.selected.usuario}" title="#{myBundle.CreateUsuariosTitle_usuario}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_password}" for="password" />
                        <p:password id="password" value="#{usuariosController.selected.password}" title="#{myBundle.CreateUsuariosTitle_password}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_activo}" for="activo" />
                        <p:selectBooleanCheckbox id="activo" value="#{usuariosController.selected.activo}" />

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_idRol}" for="idRol" />
                        <p:selectOneMenu id="idRol" value="#{usuariosController.selected.idRol}" required="true" requiredMessage="#{myBundle.CreateUsuariosRequiredMessage_idRol}" converter="rolesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{rolesController.items}"
                                           var="idRolItem"
                                           itemValue="#{idRolItem}"
                                           itemLabel="#{idRolItem.nombreRol}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_idVeterinaria}" for="idVeterinaria" />
                        <p:selectOneMenu id="idVeterinaria" value="#{usuariosController.selected.idVeterinaria}" required="true" requiredMessage="#{myBundle.CreateUsuariosRequiredMessage_idVeterinaria}" converter="veterinariasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{veterinariasController.items}"
                                           var="idVeterinariaItem"
                                           itemValue="#{idVeterinariaItem}"
                                           itemLabel="#{idVeterinariaItem.razonSocial}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.saveNew}" value="#{myBundle.Save}" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuariosCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="UsuariosCreateDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
