<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UsuariosEditDlg" widgetVar="UsuariosEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUsuariosTitle}" closeOnEscape="true">

            <h:form id="UsuariosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{usuariosController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditUsuariosLabel_idUsuario}" for="idUsuario" />
                        <h:outputText id="idUsuario" value="#{usuariosController.selected.idUsuario}" />

                        <p:outputLabel value="#{myBundle.EditUsuariosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuariosController.selected.nombre}" title="#{myBundle.EditUsuariosTitle_nombre}"/>

                        <p:outputLabel value="#{myBundle.EditUsuariosLabel_usuario}" for="usuario" />
                        <p:inputText id="usuario" value="#{usuariosController.selected.usuario}" title="#{myBundle.EditUsuariosTitle_usuario}"/>

                        <p:outputLabel value="#{myBundle.EditUsuariosLabel_password}" for="password" />
                        <p:password id="password" value="#{usuariosController.selected.password}" title="#{myBundle.EditUsuariosTitle_password}"/>

                        <p:outputLabel value="#{myBundle.EditUsuariosLabel_activo}" for="activo" />
                        <p:selectBooleanCheckbox id="activo" value="#{usuariosController.selected.activo}" />

                        <p:outputLabel value="#{myBundle.EditUsuariosLabel_ultimoIngreso}" for="ultimoIngreso" />
                        <p:calendar id="ultimoIngreso" pattern="MM/dd/yyyy HH:mm:ss" value="#{usuariosController.selected.ultimoIngreso}" title="#{myBundle.EditUsuariosTitle_ultimoIngreso}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditUsuariosLabel_idRol}" for="idRol" />
                        <p:selectOneMenu id="idRol" value="#{usuariosController.selected.idRol}" required="true" requiredMessage="#{myBundle.EditUsuariosRequiredMessage_idRol}" converter="rolesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{rolesController.items}"
                                           var="idRolItem"
                                           itemValue="#{idRolItem}"
                                           itemLabel="#{idRolItem.nombreRol}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditUsuariosLabel_idVeterinaria}" for="idVeterinaria" />
                        <p:selectOneMenu id="idVeterinaria" value="#{usuariosController.selected.idVeterinaria}" required="true" requiredMessage="#{myBundle.EditUsuariosRequiredMessage_idVeterinaria}" converter="veterinariasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{veterinariasController.items}"
                                           var="idVeterinariaItem"
                                           itemValue="#{idVeterinariaItem}"
                                           itemLabel="#{idVeterinariaItem.razonSocial}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.save}" value="#{myBundle.Save}" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuariosEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="UsuariosEditDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
