<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="UsuariosListForm">

        <p:panel header="#{myBundle.ListUsuariosTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('UsuariosListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('UsuariosListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('UsuariosListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('UsuariosListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{usuariosController.items}"
                         var="item"
                         rowKey="#{item.idUsuario}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{usuariosController.selected}">

                <p:ajax event="rowSelect"   update=":UsuariosListForm:createButton :UsuariosListForm:viewButton :UsuariosListForm:editButton :UsuariosListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":UsuariosListForm:createButton :UsuariosListForm:viewButton :UsuariosListForm:editButton :UsuariosListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('UsuariosListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idVeterinaria.razonSocial}" filterBy="#{item.idVeterinaria.razonSocial}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuariosTitle_idVeterinaria}"/>
                    </f:facet>
                    <h:outputText value="#{item.idVeterinaria.razonSocial}"/>
                </p:column>

                <p:column sortBy="#{item.idRol.nombreRol}" filterBy="#{item.idRol.nombreRol}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuariosTitle_idRol}"/>
                    </f:facet>
                    <h:outputText value="#{item.idRol.nombreRol}"/>
                </p:column>


                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuariosTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>

                <p:column sortBy="#{item.usuario}" filterBy="#{item.usuario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuariosTitle_usuario}"/>
                    </f:facet>
                    <h:outputText value="#{item.usuario}"/>
                </p:column>

                <p:column sortBy="#{item.activo}" filterBy="#{item.activo}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuariosTitle_activo}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="activo" value="#{item.activo}" title="#{myBundle.EditUsuariosTitle_activo}"  disabled="true"/>
                </p:column>


                <p:column sortBy="#{item.ultimoIngreso}" filterBy="#{item.ultimoIngreso}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuariosTitle_ultimoIngreso}"/>
                    </f:facet>
                    <h:outputText value="#{item.ultimoIngreso}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>
            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{usuariosController.prepareCreate}" update=":UsuariosCreateForm" oncomplete="PF('UsuariosCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":UsuariosViewForm" oncomplete="PF('UsuariosViewDialog').show()" disabled="#{empty usuariosController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":UsuariosEditForm" oncomplete="PF('UsuariosEditDialog').show()" disabled="#{empty usuariosController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{usuariosController.delete}" update=":growl,datalist" disabled="#{empty usuariosController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/secure/confirmation.xhtml"/>
    </h:form>

</ui:composition>