<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/secure/template.xhtml">
        <ui:define name="body">
            <h:form id="UsuariosChangeForm">

                <p:panel id="display" header="Actualizar mis Datos">
                    <p:fieldset>
                        <p:panelGrid  columns="2" columnClasses="column" rendered="#{usuariosController.user != null}">

                            <p:outputLabel value="#{myBundle.EditUsuariosLabel_email}" for="email" />
                            <p:inputText id="email" value="#{usuariosController.user.email}" title="#{myBundle.EditUsuariosTitle_email}"/>

                            <p:outputLabel value="#{myBundle.EditUsuariosLabel_telefono}" for="telefono" />
                            <p:inputText id="telefono" value="#{usuariosController.user.telefono}" title="#{myBundle.EditUsuariosTitle_telefono}"/>

                        </p:panelGrid>
                    </p:fieldset>
                    <p:commandButton actionListener="#{usuariosController.saveUser}" value="#{myBundle.Save}" update=":growl" oncomplete="myFunction()"/>

                </p:panel>

            </h:form>

        </ui:define>

    </ui:composition>
</html>
