<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosViewDlg" widgetVar="UsuariosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUsuariosTitle}" closeOnEscape="true">

            <h:form id="UsuariosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{usuariosController.selected != null}">

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_idUsuario}"/>
                        <h:outputText value="#{usuariosController.selected.idUsuario}" title="#{myBundle.ViewUsuariosTitle_idUsuario}"/>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_nombre}"/>
                        <h:outputText value="#{usuariosController.selected.nombre}" title="#{myBundle.ViewUsuariosTitle_nombre}"/>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_usuario}"/>
                        <h:outputText value="#{usuariosController.selected.usuario}" title="#{myBundle.ViewUsuariosTitle_usuario}"/>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_activo}"/>
                        <h:selectBooleanCheckbox id="activo" value="#{usuariosController.selected.activo}" title="#{myBundle.EditUsuariosTitle_activo}"  disabled="true"/>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_ultimoIngreso}"/>
                        <h:outputText value="#{usuariosController.selected.ultimoIngreso}" title="#{myBundle.ViewUsuariosTitle_ultimoIngreso}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_idRol}"/>
                        <h:outputText value="#{usuariosController.selected.idRol.nombreRol}"/>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_idVeterinaria}"/>
                        <h:outputText value="#{usuariosController.selected.idVeterinaria.razonSocial}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="UsuariosViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
