<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VeterinariasCreateDlg" widgetVar="VeterinariasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateVeterinariasTitle}" closeOnEscape="true">

            <h:form id="VeterinariasCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateVeterinariasLabel_razonSocial}" for="razonSocial" />
                        <p:inputText id="razonSocial" value="#{veterinariasController.selected.razonSocial}" title="#{myBundle.CreateVeterinariasTitle_razonSocial}"/>

                        <p:outputLabel value="#{myBundle.CreateVeterinariasLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{veterinariasController.selected.direccion}" title="#{myBundle.CreateVeterinariasTitle_direccion}"/>

                        <p:outputLabel value="#{myBundle.CreateVeterinariasLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{veterinariasController.selected.telefono}" title="#{myBundle.CreateVeterinariasTitle_telefono}"/>

                        <p:outputLabel value="#{myBundle.CreateVeterinariasLabel_ruc}" for="ruc" />
                        <p:inputText id="ruc" value="#{veterinariasController.selected.ruc}" title="#{myBundle.CreateVeterinariasTitle_ruc}"/>

                        <p:outputLabel value="#{myBundle.CreateVeterinariasLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{veterinariasController.selected.estado}" />

                        <p:outputLabel value="#{myBundle.CreateVeterinariasLabel_propietario}" for="propietario" />
                        <p:selectOneMenu id="propietario" value="#{veterinariasController.selected.propietario}"  converter="usuariosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.items}"
                                           var="propietarioItem"
                                           itemValue="#{propietarioItem}"
                                           itemLabel="#{propietarioItem.nombre}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{veterinariasController.saveNew}" value="#{myBundle.Save}" update="display,:VeterinariasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('VeterinariasCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="VeterinariasCreateDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
