<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="VeterinariasEditDlg" widgetVar="VeterinariasEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditVeterinariasTitle}" closeOnEscape="true">

            <h:form id="VeterinariasEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{veterinariasController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditVeterinariasLabel_idVeterinaria}" for="idVeterinaria" />
                        <h:outputText id="idVeterinaria" value="#{veterinariasController.selected.idVeterinaria}" />

                        <p:outputLabel value="#{myBundle.EditVeterinariasLabel_razonSocial}" for="razonSocial" />
                        <p:inputText id="razonSocial" value="#{veterinariasController.selected.razonSocial}" title="#{myBundle.EditVeterinariasTitle_razonSocial}"/>

                        <p:outputLabel value="#{myBundle.EditVeterinariasLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{veterinariasController.selected.direccion}" title="#{myBundle.EditVeterinariasTitle_direccion}"/>

                        <p:outputLabel value="#{myBundle.EditVeterinariasLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{veterinariasController.selected.telefono}" title="#{myBundle.EditVeterinariasTitle_telefono}"/>

                        <p:outputLabel value="#{myBundle.EditVeterinariasLabel_ruc}" for="ruc" />
                        <p:inputText id="ruc" value="#{veterinariasController.selected.ruc}" title="#{myBundle.EditVeterinariasTitle_ruc}"/>

                        <p:outputLabel value="#{myBundle.EditVeterinariasLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{veterinariasController.selected.estado}" />

                        <p:outputLabel value="#{myBundle.EditVeterinariasLabel_fechaAlta}" for="fechaAlta" />
                        <p:calendar id="fechaAlta" pattern="dd/MM/yyyy HH:mm:ss" value="#{veterinariasController.selected.fechaAlta}" title="#{myBundle.EditVeterinariasTitle_fechaAlta}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditVeterinariasLabel_propietario}" for="propietario" />
                        <p:selectOneMenu id="propietario" value="#{veterinariasController.selected.propietario}"  converter="usuariosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.items}"
                                           var="propietarioItem"
                                           itemValue="#{propietarioItem}"
                                           itemLabel="#{propietarioItem.nombre}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{veterinariasController.save}" value="#{myBundle.Save}" update="display,:VeterinariasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('VeterinariasEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="VeterinariasEditDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
