<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="VeterinariasListForm">

        <p:panel header="#{myBundle.ListVeterinariasTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('VeterinariasListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('VeterinariasListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('VeterinariasListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('VeterinariasListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{veterinariasController.items}"
                         var="item"
                         rowKey="#{item.idVeterinaria}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{veterinariasController.selected}">

                <p:ajax event="rowSelect"   update=":VeterinariasListForm:createButton :VeterinariasListForm:viewButton :VeterinariasListForm:editButton :VeterinariasListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":VeterinariasListForm:createButton :VeterinariasListForm:viewButton :VeterinariasListForm:editButton :VeterinariasListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('VeterinariasListForm:viewButton').click();"/>

                <p:column sortBy="#{item.razonSocial}" filterBy="#{item.razonSocial}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVeterinariasTitle_razonSocial}"/>
                    </f:facet>
                    <h:outputText value="#{item.razonSocial}"/>
                </p:column>


                <p:column sortBy="#{item.direccion}" filterBy="#{item.direccion}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVeterinariasTitle_direccion}"/>
                    </f:facet>
                    <h:outputText value="#{item.direccion}"/>
                </p:column>


                <p:column sortBy="#{item.telefono}" filterBy="#{item.telefono}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVeterinariasTitle_telefono}"/>
                    </f:facet>
                    <h:outputText value="#{item.telefono}"/>
                </p:column>


                <p:column sortBy="#{item.ruc}" filterBy="#{item.ruc}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVeterinariasTitle_ruc}"/>
                    </f:facet>
                    <h:outputText value="#{item.ruc}"/>
                </p:column>


                <p:column sortBy="#{item.estado}" filterBy="#{item.estado}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVeterinariasTitle_estado}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="estado" value="#{item.estado}" title="#{myBundle.EditVeterinariasTitle_estado}"  disabled="true"/>
                </p:column>

                <p:column sortBy="#{item.fechaAlta}" filterBy="#{item.fechaAlta}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVeterinariasTitle_fechaAlta}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaAlta}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>

                <p:column sortBy="#{item.propietario.idUsuario}" filterBy="#{item.propietario.idUsuario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListVeterinariasTitle_propietario}"/>
                    </f:facet>
                    <h:outputText value="#{item.propietario.nombre}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{veterinariasController.prepareCreate}" update=":VeterinariasCreateForm" oncomplete="PF('VeterinariasCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":VeterinariasViewForm" oncomplete="PF('VeterinariasViewDialog').show()" disabled="#{empty veterinariasController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":VeterinariasEditForm" oncomplete="PF('VeterinariasEditDialog').show()" disabled="#{empty veterinariasController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{veterinariasController.delete}" update=":growl,datalist" disabled="#{empty veterinariasController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/secure/confirmation.xhtml"/>
    </h:form>

</ui:composition>