<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VeterinariasViewDlg" widgetVar="VeterinariasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewVeterinariasTitle}" closeOnEscape="true">

            <h:form id="VeterinariasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{veterinariasController.selected != null}">

                        <h:outputText value="#{myBundle.ViewVeterinariasLabel_idVeterinaria}"/>
                        <h:outputText value="#{veterinariasController.selected.idVeterinaria}" title="#{myBundle.ViewVeterinariasTitle_idVeterinaria}"/>

                        <h:outputText value="#{myBundle.ViewVeterinariasLabel_razonSocial}"/>
                        <h:outputText value="#{veterinariasController.selected.razonSocial}" title="#{myBundle.ViewVeterinariasTitle_razonSocial}"/>

                        <h:outputText value="#{myBundle.ViewVeterinariasLabel_direccion}"/>
                        <h:outputText value="#{veterinariasController.selected.direccion}" title="#{myBundle.ViewVeterinariasTitle_direccion}"/>

                        <h:outputText value="#{myBundle.ViewVeterinariasLabel_telefono}"/>
                        <h:outputText value="#{veterinariasController.selected.telefono}" title="#{myBundle.ViewVeterinariasTitle_telefono}"/>

                        <h:outputText value="#{myBundle.ViewVeterinariasLabel_ruc}"/>
                        <h:outputText value="#{veterinariasController.selected.ruc}" title="#{myBundle.ViewVeterinariasTitle_ruc}"/>

                        <h:outputText value="#{myBundle.ViewVeterinariasLabel_estado}"/>
                        <h:selectBooleanCheckbox id="estado" value="#{veterinariasController.selected.estado}" title="#{myBundle.EditVeterinariasTitle_estado}"  disabled="true"/>

                        <h:outputText value="#{myBundle.ViewVeterinariasLabel_fechaAlta}"/>
                        <h:outputText value="#{veterinariasController.selected.fechaAlta}" title="#{myBundle.ViewVeterinariasTitle_fechaAlta}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewVeterinariasLabel_propietario}"/>
                        <h:outputText value="#{veterinariasController.selected.propietario.nombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="VeterinariasViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
