<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PropietariosCreateDlg" widgetVar="PropietariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreatePropietariosTitle}" closeOnEscape="true">

            <h:form id="PropietariosCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">
                        <p:outputLabel value="#{myBundle.CreatePropietariosLabel_ruc}" for="ruc" />
                        <p:inputText id="ruc" value="#{propietariosController.selected.ruc}" title="#{myBundle.CreatePropietariosTitle_ruc}"/>

                        <p:outputLabel value="#{myBundle.CreatePropietariosLabel_nombrePropietario}" for="nombrePropietario" />
                        <p:inputText id="nombrePropietario" value="#{propietariosController.selected.nombrePropietario}" title="#{myBundle.CreatePropietariosTitle_nombrePropietario}"/>

                        <p:outputLabel value="#{myBundle.CreatePropietariosLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{propietariosController.selected.direccion}" title="#{myBundle.CreatePropietariosTitle_direccion}"/>

                        <p:outputLabel value="#{myBundle.CreatePropietariosLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{propietariosController.selected.telefono}" title="#{myBundle.CreatePropietariosTitle_telefono}"/>

                        <p:outputLabel value="#{myBundle.CreatePropietariosLabel_activo}" for="activo" />
                        <p:selectBooleanCheckbox id="activo" value="#{propietariosController.selected.activo}" />

                        <p:outputLabel value="#{myBundle.CreateMascotasLabel_idVeterinaria}" for="idVeterinaria" rendered="#{loginBean.tieneRol(1)}"/>
                        <p:selectOneMenu id="idVeterinaria" value="#{propietariosController.selected.idVeterinaria}" rendered="#{loginBean.tieneRol(1)}" filter="true"
                                         required="true" requiredMessage="#{myBundle.CreateMascotasRequiredMessage_idVeterinaria}" converter="veterinariasConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{veterinariasController.items}"
                                           var="idVeterinariaItem"
                                           itemValue="#{idVeterinariaItem}"
                                           itemLabel="#{idVeterinariaItem.razonSocial}"
                                           />
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{propietariosController.saveNew}" value="#{myBundle.Save}" update="display,:PropietariosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PropietariosCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PropietariosCreateDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
