<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PropietariosListForm">

        <p:panel header="#{myBundle.ListPropietariosTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('PropietariosListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('PropietariosListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('PropietariosListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('PropietariosListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{propietariosController.items}"
                         var="item"
                         rowKey="#{item.idPropietarios}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{propietariosController.selected}">

                <p:ajax event="rowSelect"   update=":PropietariosListForm:createButton :PropietariosListForm:viewButton :PropietariosListForm:editButton :PropietariosListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":PropietariosListForm:createButton :PropietariosListForm:viewButton :PropietariosListForm:editButton :PropietariosListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('PropietariosListForm:viewButton').click();"/>

                <p:column sortBy="#{item.ruc}" filterBy="#{item.ruc}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPropietariosTitle_ruc}"/>
                    </f:facet>
                    <h:outputText value="#{item.ruc}"/>
                </p:column>

                <p:column sortBy="#{item.nombrePropietario}" filterBy="#{item.nombrePropietario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPropietariosTitle_nombrePropietario}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombrePropietario}"/>
                </p:column>


                <p:column sortBy="#{item.direccion}" filterBy="#{item.direccion}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPropietariosTitle_direccion}"/>
                    </f:facet>
                    <h:outputText value="#{item.direccion}"/>
                </p:column>


                <p:column sortBy="#{item.telefono}" filterBy="#{item.telefono}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPropietariosTitle_telefono}"/>
                    </f:facet>
                    <h:outputText value="#{item.telefono}"/>
                </p:column>

                <p:column sortBy="#{item.activo}" filterBy="#{item.activo}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPropietariosTitle_activo}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="activo" value="#{item.activo}" title="#{myBundle.EditPropietariosTitle_activo}"  disabled="true"/>
                </p:column>

                <p:column sortBy="#{item.idVeterinaria.idVeterinaria}" filterBy="#{item.idVeterinaria.razonSocial}" rendered="#{loginBean.tieneRol(1)}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPropietariosTitle_veterinaria}"/>
                    </f:facet>
                    <h:outputText value="#{item.idVeterinaria.razonSocial}"/>
                </p:column>
            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{propietariosController.prepareCreate}" update=":PropietariosCreateForm" oncomplete="PF('PropietariosCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":PropietariosViewForm" oncomplete="PF('PropietariosViewDialog').show()" disabled="#{empty propietariosController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":PropietariosEditForm" oncomplete="PF('PropietariosEditDialog').show()" disabled="#{empty propietariosController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{propietariosController.delete}" update=":growl,datalist" disabled="#{empty propietariosController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/secure/confirmation.xhtml"/>
    </h:form>

</ui:composition>