<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PropietariosViewDlg" widgetVar="PropietariosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPropietariosTitle}" closeOnEscape="true">

            <h:form id="PropietariosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{propietariosController.selected != null}">
                        <h:outputText value="#{myBundle.ViewPropietariosLabel_ruc}"/>
                        <h:outputText value="#{propietariosController.selected.ruc}" title="#{myBundle.ViewPropietariosTitle_ruc}"/>

                        <h:outputText value="#{myBundle.ViewPropietariosLabel_nombrePropietario}"/>
                        <h:outputText value="#{propietariosController.selected.nombrePropietario}" title="#{myBundle.ViewPropietariosTitle_nombrePropietario}"/>

                        <h:outputText value="#{myBundle.ViewPropietariosLabel_direccion}"/>
                        <h:outputText value="#{propietariosController.selected.direccion}" title="#{myBundle.ViewPropietariosTitle_direccion}"/>

                        <h:outputText value="#{myBundle.ViewPropietariosLabel_telefono}"/>
                        <h:outputText value="#{propietariosController.selected.telefono}" title="#{myBundle.ViewPropietariosTitle_telefono}"/>

                        <h:outputText value="#{myBundle.ViewPropietariosLabel_activo}"/>
                        <h:selectBooleanCheckbox id="activo" value="#{propietariosController.selected.activo}" title="#{myBundle.EditPropietariosTitle_activo}"  disabled="true"/>

                        <h:outputText value="#{myBundle.ViewPropietariosLabel_veterinaria}" rendered="#{loginBean.tieneRol(1)}"/>
                        <h:outputText value="#{propietariosController.selected.idVeterinaria.razonSocial}" title="#{myBundle.ViewPropietariosTitle_veterinaria}" rendered="#{loginBean.tieneRol(1)}"/>


                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PropietariosViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
