<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EspeciesCreateDlg" widgetVar="EspeciesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEspeciesTitle}" closeOnEscape="true">

            <h:form id="EspeciesCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateEspeciesLabel_nombreEspecie}" for="nombreEspecie" />
                        <p:inputText id="nombreEspecie" value="#{especiesController.selected.nombreEspecie}" title="#{myBundle.CreateEspeciesTitle_nombreEspecie}"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{especiesController.saveNew}" value="#{myBundle.Save}" update="display,:EspeciesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EspeciesCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="EspeciesCreateDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
