<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EspeciesEditDlg" widgetVar="EspeciesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEspeciesTitle}" closeOnEscape="true">

            <h:form id="EspeciesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{especiesController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditEspeciesLabel_idEspecie}" for="idEspecie" />
                        <h:outputText id="idEspecie" value="#{especiesController.selected.idEspecie}" />

                        <p:outputLabel value="#{myBundle.EditEspeciesLabel_nombreEspecie}" for="nombreEspecie" />
                        <p:inputText id="nombreEspecie" value="#{especiesController.selected.nombreEspecie}" title="#{myBundle.EditEspeciesTitle_nombreEspecie}"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{especiesController.save}" value="#{myBundle.Save}" update="display,:EspeciesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EspeciesEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="EspeciesEditDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
