<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/secure/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.EspeciesTitle}"/>
    </ui:define>

    <ui:define name="body">

        <ui:include src="/secure/especies/List.xhtml"/>
        <ui:include src="/secure/especies/View.xhtml"/>
        <ui:include src="/secure/especies/Edit.xhtml"/>
        <ui:include src="/secure/especies/Create.xhtml"/>

    </ui:define>

</ui:composition>