<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EspeciesListForm">

        <p:panel header="#{myBundle.ListEspeciesTitle}">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('EspeciesListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('EspeciesListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('EspeciesListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('EspeciesListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{especiesController.items}"
                         var="item"
                         rowKey="#{item.idEspecie}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{especiesController.selected}">

                <p:ajax event="rowSelect"   update=":EspeciesListForm:createButton :EspeciesListForm:viewButton :EspeciesListForm:editButton :EspeciesListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":EspeciesListForm:createButton :EspeciesListForm:viewButton :EspeciesListForm:editButton :EspeciesListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('EspeciesListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idEspecie}" filterBy="#{item.idEspecie}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEspeciesTitle_idEspecie}"/>
                    </f:facet>
                    <h:outputText value="#{item.idEspecie}"/>
                </p:column>


                <p:column sortBy="#{item.nombreEspecie}" filterBy="#{item.nombreEspecie}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEspeciesTitle_nombreEspecie}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreEspecie}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{especiesController.prepareCreate}" update=":EspeciesCreateForm" oncomplete="PF('EspeciesCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":EspeciesViewForm" oncomplete="PF('EspeciesViewDialog').show()" disabled="#{empty especiesController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":EspeciesEditForm" oncomplete="PF('EspeciesEditDialog').show()" disabled="#{empty especiesController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{especiesController.delete}" update=":growl,datalist" disabled="#{empty especiesController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/secure/confirmation.xhtml"/>
    </h:form>

</ui:composition>