<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EspeciesViewDlg" widgetVar="EspeciesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEspeciesTitle}" closeOnEscape="true">

            <h:form id="EspeciesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{especiesController.selected != null}">

                        <h:outputText value="#{myBundle.ViewEspeciesLabel_idEspecie}"/>
                        <h:outputText value="#{especiesController.selected.idEspecie}" title="#{myBundle.ViewEspeciesTitle_idEspecie}"/>

                        <h:outputText value="#{myBundle.ViewEspeciesLabel_nombreEspecie}"/>
                        <h:outputText value="#{especiesController.selected.nombreEspecie}" title="#{myBundle.ViewEspeciesTitle_nombreEspecie}"/>

                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="EspeciesViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
