<?xml version="1.0" encoding="UTF-8" ?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><ui:insert name="title">#{myBundle.AppName}</ui:insert></title>
        <h:outputStylesheet library="css" name="pfcrud.css"/>
        <h:outputScript library="scripts" name="pfcrud.js"/>
        <f:metadata>
            <f:viewAction action="#{loginBean.isLoggedInForwardHome()}" />
        </f:metadata>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </h:head> 
    <h:body style="text-align:center">
        <p:growl id="mensajes" showDetail="true" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" header="#{myBundle.AppName}">

            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <h:form>
                    <p:panel header="Login" style="width:300px">
                        <h:panelGrid columns="2" cellpadding="5">
                            <h:outputLabel for="username" value="Usuario:" />
                            <p:inputText value="#{loginBean.user}" id="username"
                                         required="true" label="username" />
                            <h:outputLabel for="password" value="Clave:" />
                            <p:password value="#{loginBean.pass}" id="password" required="true"
                                        label="password" />
                            <p:messages showDetail="true"/>
                            <!--div class="g-recaptcha" data-sitekey="6LdVHi0UAAAAACvZGXIMgi6hVC1yIofzpv8V09W-"></div-->
                            <f:facet name="footer">

                                <p:commandButton id="loginButton" value="Login"
                                                 actionListener="#{loginBean.login}" update=":mensajes"
                                                 oncomplete="myFunction()" />
                            </f:facet>
                        </h:panelGrid>
                    </p:panel>
                </h:form>
            </p:layoutUnit>

        </p:layout>
    </h:body>
    <script>
        function myFunction() {
            location.reload();
        }
    </script>
</html>